body {
    text-align: center;
    /* background-color: #40E0D0; */
  }

  .image-section {
    display: flex;
    justify-content: center;
  }

  .ul {
    color: black;
    width: 31%;
    margin-left: 35%;
  }